<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operation</title>
</head>
<body>

    <form action="newOperation" method="POST">
        Employee id : <input type="number" name="id"><br>
        Travel :      <input type="radio" name="operation" value="travel">
        Training :    <input type="radio" name="operation" value="training"><br>
        Date :        <input type="date" name="date"><br>
        <input type="submit" value="done">
    </form>
    
</body>
</html>